
<h3>Active Projects</h3>

<div class="container">
  <div class="row">

    {{#each project in controller.content}}

      <div class="col-lg-4">
        <div class="thumbnail">
          <img {{bindAttr src="project.img"}}/>
          <div class="caption">
            <h2>
              {{project.title}}
              {{#if project.isFunded}}<span class="label label-success">Funded!</span>{{/if}}
              {{#if project.isNew}}<span class="label label-info">New!</span>{{/if}}
              {{#if project.isNearDeadline}}<span class="label label-warning">Deadline approaching!</span>{{/if}}
            </h2>
            <h4>
              by {{#linkTo 'org.index' project.org}}{{project.org.title}}{{/linkTo}}
            </h4>
            <p>
              {{project.description}}
            </p>
            <p>
              {{#linkTo 'project.index' project}}
                <div class="btn btn-default">Fund</div>
              {{/linkTo}}
            </p>
          </div>
        </div>
      </div>

    {{/each}}
  </div>

</div>